.box {
    background: rebeccapurple;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.containerjeu {
    width: 80%;
    margin: auto;
    
}

body {
    background: rgb(240, 131, 42);
    margin: 0;
    font-family: Arial, sans-serif;
}